body{
	background: black;
	color: white;
	font-family: sans-serif;
}
h1{
	font-size: 120px;
	margin-bottom: 0px;
	text-align: center;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: black;
}

#navbar{
	background-color: red;
	text-align: center;
	letter-spacing: 10px;
	margin-left: 15px;
	margin-top: 20px;
	margin-top: 0px;
	margin-bottom: 40px;
}

#text{
	margin: 30px;

}